body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(233, 234, 236, 255);
}
/* HOMEPAGE*/
#homePage {
  background-color: whitesmoke !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------- */
/* HEADER-START*/
header {
  background-color: whitesmoke !important;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: rgb(36, 35, 35);
  /* padding: 30px; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  font-size: 25px;
  padding: 30px;
}
#logoName {
}
#navLinks {
  display: flex;
  font-size: 20px;
  gap: 30px;
  list-style: none !important;
  padding-right: 70px;
}
/* -------------------- */
/* LANDINGPAGE-START*/
#landingPage {
  /* background-color: aqua; */
  /* align-items: center; */
  /* padding: 700px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
#landing-first-div {
  display: flex;
  justify-content: space-between;

  /* background-color: blue; */
}
#namePosition {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
#introMessage {
  width: 500px;
  font-size: 25px;
  color: rgb(78, 75, 75);
  text-align: justify;
  font-weight: bolf;
}
.fa-linkedin {
  color: rgb(3, 15, 36);
}
.fa-linkedin {
  color: rgb(3, 15, 36);
}
#profileImageSix {
  height: 400px;
  width: 400px;
}
#landing-second-div {
  background-color: rgb(5, 5, 40);
}
#projectPage {
  background-color: rgb(3, 42, 34) !important;
}
#aboutPage {
  background-color: rgb(43, 255, 0) !important;
}
#contactPage {
  background-color: rgb(247, 0, 255) !important;
}
